*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}
h2{
    font-family: cursive;
    font-size: 15px;
}
.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    background-color: #3655b3;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu ul li a {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 6px;
    font-family: poppins;
    text-decoration: none;
    height: 20px;
    width: 30px;
    position: relative;
}

.menu ul li a .title {
    position: absolute;
    font-size: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
}

.menu ul li a .icon {
    position: absolute;
    font-size: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a:hover .title {
    transform: translate(-50%, calc(-50% + 10px));
    opacity: 1;
}

.menu ul li a:hover .icon {
    top: 0;
    background-color: #3655b3;
    color: #fff;
    outline: 1px #fff solid;
}