body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: cursive;
    background: #222;
}
h2{
    color: lightgray;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 93px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    text-align: center;
}

.dropdown-item {
    padding: 12px;
    text-decoration: none;
    display: block;
    color: #333;
    border-bottom: 1px solid #222;

}

.dropdown-item:hover {
    background-color: #ddd;
}