body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
}

#hi-message {
    font-size: 48px;
    margin-top: 100px;
}

#name-container {
    overflow: hidden;
    white-space: nowrap;
    font-size: 36px;
    animation: scrollNames 20s linear infinite;
}

.name {
    display: inline-block;
    margin-right: 40px;
}

@keyframes scrollNames {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}