* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151515;
    font-size: medium;
    color: #222;
}

.text-animation {
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    animation: typing 3s steps(14) infinite,
               blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #5c21aa;
    }
}
