body, html {
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery-item img{
    max-width: 100%;
    height: auto;
    transition: transform .3s ease;
}
.gallery-item:hover img{
    transform: scale(1.1);
}
.gallery-item img{
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    text-align: center;

}
.modal-content{
    max-width: 60%;
    height: 80%;
    margin: 0 auto;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}