*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
    cursor: pointer;

}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.box:hover .overlay{
    height: 100%;
}
h2{
    width: 100%;
    margin-top: 30%;
    color: white;
    font-size: 14px;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg)skewX(-5deg);
}
p{
    text-align: center;
    color: white;
    font-size: 10px;
    margin: 60% 0 0 18%;
    width: 70%;
    letter-spacing: 1px;
}