body {
    font-family: cursive;
    text-align: center;
    background-color: #222;
    margin: 0;
    padding: 0;
    height: 100vh;
}
table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
    background-color: black;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 5px 10px;
    text-align: left;
}
th {
    background-color: #031c52;
    color: white;
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}