body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h2{
    text-align: center;
    color: #222;
}

button{
    position: relative;
    padding: 18px 50px;
    background: rgb(17,17,17);
    letter-spacing: 1px;
    outline: none;
    border-radius: 50px;
    border: 1px solid #505050;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
}
button span{
    will-change: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    transition: .5 ease;
    pointer-events: none;
    color: #979797;
}
button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: translateY(100%);
    z-index: 1;
    pointer-events: none;
    transition: transform .5s cubic-bezier(0,0,.1,1),
    border-radius .5s cubic-bezier(0,.4,.1,1);
}
button:hover > span{
    color: rgb(25,25,25);
}
button:hover::before{
    border-radius: 0;
    transform: translateY(0%);
    transition: transform .5s cubic-bezier(0,5,.1,1),
    border-radius .5s cubic-bezier(0,.4,.1,1);
}