*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    color: #222;
}

.cir1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #fe444425;
    border-top: 3px solid orangered;
    animation: ani 3s linear infinite;
}
.cir2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #fee84422;
    border-top: 3px solid #f9ce24;
    animation: ani 2s linear infinite;
}
@keyframes ani {
    0% {
        transform: rotate(0deg)
    } 100%{
        transform: rotate(360deg)
    }
}