*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;

}

.card{
    width: 100px;
    height: 150px;
    position: relative;
    background: url(https://images.pexels.com/photos/18335629/pexels-photo-18335629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center;
    background-size: cover;
    color: #fff;
    border-radius: 18px;
    box-shadow: #000 0px 11px 15px 0px;
}
a{
    font-size: 10px;
}
.card .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 123, 0,.8);
    opacity: 0;
    transition: .3s;
    border-radius: 18px;

}
.card:hover .overlay{
    opacity: 1;
}
.card .btn{
    padding: .1em .3em;
    text-decoration: none;
    color: #fff;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
}
.card .btn:hover{
    background: rgba(255,255,255,.3);

}
.card .btn, .card h3{
    transition: .3s;
    transform: translateY(-20px)
}
.card:hover .btn, .card:hover h3{
    transform: translateY(0);
}